* {
  margin: 0%;
  padding: 0%;
}
.mainBox {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.ball {
  background-color: #ff1a66;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: relative;
  top: 30%;
  left: 50%;
  animation: bounce 2s infinite;
}
@keyframes bounce {
  0% {
    height: 50px;
    width: 50px;
  }
  25% {
    height: 50px;
    width: 40px;
    background-color: #ff7f50;
  }
  50% {
    height: 30px;
    width: 57px;
    background-color: #ffbf00;
  }
  75% {
    height: 50px;
    width: 57px;
    background-color: #dfff00;
    transform: translateY(240px);
  }
  100% {
    transform: translateY(0px);
    background-color: #40e0d0;
  }
}
.container {
  width: 57px;
  height: 50px;
}
.shadow {
  background-color: #c0c0c0;
  height: 10px;
  width: 65px;
  border-radius: 50%;
  position: relative;
  top: 265px;
  left: 50%;
  z-index: -1;
  animation: shrink 2s infinite;
}
@keyframes shrink {
  50% {
    transform: scaleX(0.5);
  }
}
